body  {
    font-family: 'Inter', sans-serif !important;
}

h1 {
    font-weight: 900 !important;
}

h1 span {
    font-weight: 200;
}

.title-first {
    font-family: 'DM Mono', monospace;
}

.copyright {
    font-family: 'DM Mono', monospace;
    font-weight: 300;
    padding-right: 5px !important;
    margin-top: 100px;
}

.date {
    background-color: #f4b543;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-family: 'DM Mono', monospace;
}

  .b0-r {
    border-right: 10px solid #f4b543;
  }

.decl {
    font-weight: 500;
    background-color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 52%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
.container {
  margin-top: 50px;
}

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  .social i {
    color: rgba(255, 255, 255, 0.747);
    font-size: 2em;
    transition: ease-in 0.5s;
  }

  .social i:hover {
    color: #f4b543;
  }

  .mask {
    color: #f4b543;
  }
  

  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('/media/fw1600.jpg') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }