@font-face {
  font-family: 'Formula';
  src: url("/assets/fonts/formulacondensed-bold-webfont.woff2") format("woff2"), url("/assets/fonts/formulacondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  header h1 {
    margin-top: 0.25em;
  }
  header img {
    max-width: 100% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 960px) {
  .btn-line {
    border-bottom: solid calc(0.5vh - 1px - 0.3vw) !important;
    min-height: 0vw;
  }
}

@media screen and (max-width: 767px) {
  body .information {
    display: none !important;
  }
  body .btn-line {
    padding: 0.5em 0em 0.5em 0em !important;
  }
  .argSec1 {
    margin-top: 0em !important;
    padding-top: 0 !important;
  }
  .argSec1 .col-md-5 img {
    display: none;
  }
  .argSec1 div.scroll {
    display: none;
  }
  .argSec1 div.m-image {
    display: block !important;
  }
  .argSec1 div.m-title {
    display: block !important;
  }
  .argSec2 div.scroll {
    display: none !important;
  }
  .argSec2 .ml-title {
    display: block !important;
  }
  .argSec3 div.scroll {
    display: none !important;
  }
  .argSec3 .ml-title {
    display: block !important;
  }
  .argSec3 div.s2 {
    padding-top: 5em !important;
  }
  .argSec4 div.scroll {
    display: none !important;
  }
  .argSec4 .ml-title {
    display: block !important;
  }
  footer hr {
    width: 20vw;
  }
  header div.scroll {
    display: none !important;
  }
  svg {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    opacity: 0.5;
    -webkit-transition: ease 1s all;
    transition: ease 1s all;
    cursor: pointer;
  }
  svg:hover {
    opacity: 1;
  }
  .scr0ll {
    display: block !important;
  }
}

@media screen and (max-width: 835px) {
  header img {
    margin-top: calc(2vmax + 10px - 1vmin);
    min-height: 0vw;
  }
}

@media screen and (max-width: 991px) {
  footer {
    font-size: calc(1.5vmax + 4px  - 1vmin) !important;
  }
}

.mvh-100 {
  min-height: 100vh;
}

.pointer {
  cursor: pointer !important;
}

video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.bg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(30%, rgba(0, 0, 0, 0.500438)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.500438) 30%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  left: 0;
  right: 0;
  opacity: 1;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

body {
  font-size: 16px;
  background: #000;
  color: #fff;
}

body ::-moz-selection {
  background: #EBB543;
}

body ::selection {
  background: #EBB543;
}

body ::-moz-selection {
  background: #EBB543;
}

body h1 {
  font-family: "Formula";
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 0.9em;
}

body .arg0transparent {
  background: transparent !important;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

body .arg0dark {
  background: #000 !important;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

body .m1, body .m2, body .m3 {
  width: 28px;
  height: 1px;
  background-color: #fff;
  margin: 5px 0;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

body .flip .m1 {
  -webkit-transform: rotate(-45deg) translate(0px, 6px);
  transform: rotate(-45deg) translate(-1px, 6px);
  height: 1.5px;
  background-color: #000;
}

body .flip .m2 {
  opacity: 0;
}

body .flip .m3 {
  -webkit-transform: rotate(45deg) translate(-3px, -8px);
  transform: rotate(45deg) translate(-3px, -8px);
  height: 1.5px;
  background-color: #000;
}

body .navbar-dark .navbar-toggler {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body button {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.fullNav {
  position: fixed;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fullNav a {
  color: #EBB543;
}

.fullNav h1 {
  color: #000;
}

.fullNav span {
  color: #202020 !important;
}

.fullNav svg {
  fill: #202020 !important;
}

.fullNav:before {
  position: absolute;
  content: "";
  background-image: url("/assets/materials/png/lynx_head.png");
  background-repeat: no-repeat;
  background-size: 230px;
  background-position-y: 100%;
  width: 100%;
  height: 100%;
}

.visible {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header h1 {
  font-size: calc(5vmax + 10px + 1vmin);
  min-height: 0vw;
}

header hr {
  border: 1px solid #fff;
  height: calc(3vmax + 30px + 5vmin);
  width: 0px;
}

header p {
  text-orientation: mixed;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

header .horizon {
  text-orientation: mixed;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.information {
  display: block;
  opacity: 0.2 !important;
  font-size: 12px !important;
  letter-spacing: 0.05em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.btn-f-line {
  border: solid 1px #202020;
  padding: 0.5em 1em 0.5em 1em;
  background: none;
  color: #fff;
  width: 100%;
  opacity: 0.5;
  font-size: calc(0.9vmax + 10px + -1vmin);
  min-height: 0vw;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.btn-f-line:hover {
  background: #fff;
  opacity: 1;
  color: #000;
}

.argSec1 {
  padding-bottom: 5em;
  background: #000;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.argSec1 .information {
  color: #000;
}

.argSec1 div.m-image {
  display: none;
}

.argSec1 div.m-title {
  display: none;
  font-family: 'Oswald', sans-serif;
}

.argSec1 div.m-title span {
  font-size: 18px;
  color: #fff;
}

.argSec1 div.m-title hr {
  width: 10%;
  background-color: #fff;
  margin-top: -0.01em;
}

.argSec1 div.scroll {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  margin-top: -0.7em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.argSec1 div.scroll span {
  margin-left: -13em;
  font-size: 18px;
  color: #fff;
}

.argSec1 div.scroll hr {
  background-color: #fff;
  color: #fff;
  width: 50%;
  position: absolute;
  top: -4.5px;
}

.argSec1 .col-md-10 {
  font-size: calc(2vmax + 10px + -1vmin);
  min-height: 0vw;
}

.argSec1 img {
  border: solid 1px #858585;
  padding: calc(1.1vmax + 10px  - 1.3vmin);
  opacity: 0.5;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  width: calc(28vmax + 18px  - 1.3vmin);
}

.argSec1 img:hover {
  opacity: 1;
}

.argSec1 h1 {
  letter-spacing: 0.2em;
  font-size: calc(2vmax + 10px + -1vmin);
  min-height: 0vw;
  line-height: 1.2em;
  color: #fff;
}

.argSec1 .paragleft {
  font-size: calc(1vmax + 10px + -1vmin) !important;
  min-height: 0vw;
  text-transform: none;
  opacity: 0.2;
  color: #fff;
}

.argSec1 .paragright {
  font-size: calc(1.1vmax + 10px  - 1.3vmin) !important;
  min-height: 0vw;
  text-transform: none;
  opacity: 0.5;
  color: #fff;
}

.argSec1 .btn-line {
  border-bottom: 5px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  background: transparent;
  padding-bottom: 5px;
  text-transform: none;
  padding-right: 1em;
  font-size: calc(1.1vmax + 10px  - 1.3vmin) !important;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
}

.argSec1 .btn-line:hover {
  padding-right: 0em;
  border-bottom-color: #EBB543;
}

.argSec1 a {
  text-decoration: none !important;
}

.argSec2 {
  padding-bottom: 5em;
  font-family: 'Open Sans', sans-serif;
}

.argSec2 img {
  border: solid 1px #858585;
  padding: 1em;
  opacity: 0.5;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding: calc(1.1vmax + 10px  - 1.3vmin);
  width: calc(28vmax + 18px  - 1.3vmin);
}

.argSec2 img:hover {
  opacity: 1;
}

.argSec2 div.scroll {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  margin-top: -0.7em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.argSec2 div.scroll span {
  margin-left: -6.5em;
  font-size: 18px;
}

.argSec2 div.scroll hr {
  background-color: #fff;
  color: #fff;
  width: 50%;
  position: absolute;
  top: -4.5px;
}

.argSec2 h1 {
  letter-spacing: 0.2em;
  font-size: calc(2vmax + 10px + -1vmin);
  min-height: 0vw;
  line-height: 1.2em;
}

.argSec2 p {
  font-size: calc(1.1vmax + 10px  - 1.3vmin) !important;
  min-height: 0vw;
  opacity: 0.5;
}

.argSec2 .btn-line {
  font-size: calc(1.1vmax + 10px  - 1.3vmin) !important;
  padding-left: calc(1vmax + 10px + -1vmin);
  min-height: 0vw;
}

.argSec2 .ml-title {
  display: none;
}

.argSec2 .ml-title span {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.argSec2 .ml-title hr {
  width: 10%;
  background-color: #fff;
  margin-top: -0.01em;
}

.argSec2 .information {
  display: block;
  opacity: 0.2 !important;
  font-size: 12px !important;
  letter-spacing: 0.05em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.argSec3 {
  padding-bottom: 8em;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.argSec3 .overload {
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  visibility: hidden;
  display: none;
  opacity: 0;
}

.argSec3 .loadChunk {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
}

.argSec3 .loadChunkTwo {
  visibility: visible;
  overflow: hidden;
  opacity: 1;
}

.argSec3 .loadChunkStop {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.argSec3 .seeMore {
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  opacity: 0.5;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: calc(1vmax + 10px + -1vmin) !important;
  min-height: 0vw;
}

.argSec3 .seeMore:hover {
  opacity: 1;
}

.argSec3 .col-md-12 {
  width: 100%;
  opacity: 0.1;
  height: 40vh;
  background: url("/assets/materials/img/text_line-01.png") repeat-x;
  background-size: cover;
  background-position: center;
}

.argSec3 .col-12 .ml-title {
  display: none;
}

.argSec3 .col-12 .ml-title span {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

.argSec3 .col-12 .ml-title hr {
  width: 10%;
  background-color: #000;
  margin-top: -0.01em;
}

.argSec3 div.scroll {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.argSec3 div.scroll span {
  margin-left: -8em;
  font-size: 18px;
  color: #000;
}

.argSec3 div.scroll hr {
  background-color: #000;
  color: #fff;
  width: 50%;
  position: absolute;
  top: -4.5px;
}

.argSec3 .col-md-3 .tag {
  opacity: 1;
}

.argSec3 .col-md-3 .tag .tag-style {
  border-bottom: solid 1px #000;
  padding: 0.5em 0.8em 0.5em 0.8em;
  font-size: calc(0.8vmax + 8px + -1vmin);
  min-height: 0vw;
  color: #000;
  opacity: 1;
  font-family: 'Oswald', sans-serif;
}

.argSec3 .col-md-3 p {
  font-size: calc(0.9vmax + 10px + -1vmin);
  min-height: 0vw;
  opacity: 0.5;
  color: #000;
}

.argSec3 .col-md-3 img {
  border: solid 1px #202020;
  padding: calc(0.8vmax + 8px + -1vmin);
  opacity: 0.5;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.argSec3 .col-md-3 img:hover {
  opacity: 1;
}

.argSec3 .btn-f-line {
  color: #000;
  opacity: 1;
}

.argSec3 .btn-f-line:hover {
  background: #000;
  color: #fff;
}

.argSec3 div.s2 {
  padding-top: 10em;
}

.argSec4 {
  padding-bottom: 5em;
  background: #000;
}

.argSec4 div.scroll {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-transform: uppercase;
  margin-top: -0.7em;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.argSec4 div.scroll span {
  margin-left: -9em;
  font-size: 18px;
}

.argSec4 div.scroll hr {
  background-color: #fff;
  color: #fff;
  width: 50%;
  position: absolute;
  top: -4.5px;
}

.argSec4 .arg0form {
  background: #000 !important;
  border-bottom: solid 1px #fff !important;
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
  font-size: calc(0.9vmax + 10px + -1vmin);
  min-height: 0vw;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
  width: 98%;
}

.argSec4 .arg0form:focus {
  border-bottom: solid 5px #fff !important;
  color: #fff !important;
  width: 100%;
}

.argSec4 .arg0form:focus::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
}

.argSec4 h1 {
  letter-spacing: 0.2em;
  font-size: calc(2vmax + 10px + -1vmin);
  min-height: 0vw;
  line-height: 1.2em;
}

.argSec4 button {
  padding: 1em;
  border-radius: 0px;
  width: 98%;
  border: solid 1px;
  opacity: 0.5;
}

.argSec4 .col-12 .ml-title {
  display: none;
}

.argSec4 .col-12 .ml-title span {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.argSec4 .col-12 .ml-title hr {
  width: 10%;
  background-color: #fff;
  margin-top: -0.01em;
}

.argSec4 p {
  font-size: calc(1.1vmax + 10px  - 1.3vmin) !important;
  min-height: 0vw;
}

.argSec4 p:nth-child(2) {
  opacity: 0.5 !important;
}

.argSec4 p:nth-child(4) {
  opacity: 0.5;
}

.argSec4 a {
  text-decoration: none !important;
  color: #fff;
  font-size: calc(1.1vmax + 10px  - 1.3vmin);
  opacity: 0.5;
}

.argSec4 a:hover {
  color: #fff;
  text-decoration: none !important;
}

footer {
  background: #000;
  padding-top: calc(5.1vmax + 10px  - 1.3vmin);
  padding-bottom: calc(5.1vmax + 10px  - 1.3vmin);
  font-size: calc(0.9vmax + 10px + -1vmin);
}

footer a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
}

footer a:hover {
  color: #EBB543;
  text-decoration: none !important;
}

footer .col-md-5 #stl-f {
  border-right: 10px solid #fff;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #868686;
}

#seoChk {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/*# sourceMappingURL=main.css.map */